* { 
    margin: 0;
    padding: 0;
}
body {
    background: #eee;
    font-size: 15px;
    
}
h1 {
    font-family: cursive;
    color: #000000;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}
header{
    border-width: 0.14px;
    border-color: #b5b7ba;
    border-style: solid;
    background-color: #dfdfdf;
    padding: 25px;
    text-align: center;
    font-family: monospace;
    font-size: 16.5px;
}
footer{
    border-width: 0.14px;
    border-color: #b5b7ba;
    border-style: solid;
    background-color: #010101;
    color: #ddd;
    text-align: center;
    padding: 25px;
}
p {
    padding-left: 10px;
    font-size: 25px;
    text-align: center;
}
.content2 {
        margin-left: 40%;
        width: 20%; 
    }
.form1{
    margin-left: 40%;
}
.window{
    border: solid 1px black;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    width: 150px;
    margin-bottom: 10px;
}
a{
    text-decoration: none
}
#back{
    border: solid 3px red; 
    
}
#buy{
    border: solid 3px green;
}